@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4682B4;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

input[type="submit"] {
    background-color: green;
    color: #f3f3f3;
}

input[type="submit"][value="Limpar"] {
    background-color: red;
    color: #f3f3f3;
}